
@tailwind base;
@tailwind components;

@tailwind utilities;

* {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.leftSidebar {
  background-color: black
}
.leftBg {
  background-color: rgb(11, 44, 1);
}
.leftHeader {
  background-color: rgb(1, 83, 12);
}
.rightHeader {
  background-color: rgb(1, 83, 12);
}
.rightBg {
  background-color: rgb(11, 44, 1);
}

.noscroll {
  scrollbar-width: none !important;
}

.sidebarWidth {

  width: 300px !important;

}


