@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.leftSidebar {
  background-color: black
}
.leftBg {
  background-color: rgb(38, 16, 77);
}
.leftHeader {
  background-color: rgb(69, 27, 139);
}
.rightHeader {
  background-color: rgb(69, 27, 139);
}
.rightBg {
  background-color: rgb(27, 11, 54);
}

.noscroll {
  scrollbar-width: none !important;
}
